// Color palette
$black: #000000
$white: #ffffff
$spruce: #1F4A43

// Original pokemon scheme
$pokemonRed:#ff0000
$pokemonRedDark:#cc0000
$pokemonBlue:#3b4cca
$pokemonYellow:#ffde00
$pokemonYellowDark:#b3a125

// Muted dark scheme
$greyWhiteText: #e5e5e6
$greyLightText: #909197
$greyLight: #393a41
$greyBlue:#222225
$greyBrown: #202024
$greyBlueDark: #1a1a1e
$blackAlmost: #121214

$activeColour: $pokemonYellowDark

// Typography
$baseFontSize: 16px
$baseFontFamily: Roboto, Sans-serif
$monospaceFontFamily: 'Roboto Mono', monospace
$lightFontWeight: 300
$regularFontWeight: 400
$mediumFontWeight: 600

// Images
$smallScreenImageSize: 80px
$mediumScreenImageSize: 100px
$normalScreenImageSize: 120px
