@use 'variables'


:root
	font-family: variables.$baseFontFamily
	font-size: variables.$baseFontSize
	line-height: 1.5
	font-weight: variables.$regularFontWeight

	color-scheme: light dark
	color: rgba(255, 255, 255, 0.87)
	background-color: #242424

	font-synthesis: none
	text-rendering: optimizeLegibility
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

body
	margin: 0

#root
	display: flex
	flex: 1
	min-width: 100%
	min-height: 100vh
	flex-direction: column

.top
	background: variables.$darkSage
	color: #fff
	padding: 10px


.bottom
	display: flex
	flex-direction: row
	justify-content: space-between
	padding: 10px
	background: variables.$darkSage
	color: variables.$sage

.content
	display: flex
	flex: 1
	width: 100%
	height: 100%
	background: variables.$lightYellow

.side
	width: 250px
	flex-shrink: 0
	background: variables.$yellow
	color: #000

.main-content
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	max-width: 100%
	width: 100%
	height: 100%
	flex: 1 1 0%

.game
	display: flex
	flex-direction: row
	width: 100%

.field-wrap
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	margin: 0 20px

.player-panel
	display: flex
	flex-direction: column
	width: 100%
	max-width: 200px
	color: variables.$black
	border: 2px solid variables.$pokemonRedDark

.psx-field
	display: grid
	max-width: 720px
	padding: 12px
	grid-template-columns: 1fr 1fr 1fr 1fr
	gap: 16px

	// *:nth-child(odd)
	// 	background: variables.$lightGrey

	// *:nth-child(even)
	// 	background: variables.$yellow
	// 	color: variables.$black

	.psx-square
		display: flex
		justify-content: center
		align-items: center
		height: 120px
		width: 120px

	.pxs_card
		transition: transform 1.5s ease
		backface-visibility: hidden
		position: absolute
		box-shadow: 4px 2px 3px variables.$antracite


		&.empty
			height: 120px
			width: 120px
			background: variables.$pokemonYellowDark

	.back
		background: variables.$pokemonYellowDark
		transform: rotateY(180deg)

		&.flipped
			transform: rotateY(0deg)

	.front
		background: variables.$pokemonBlue
		transform: rotateY(0deg)

		&.flipped
			transform: rotateY(180deg)

.game-end-screen
	position: absolute
	display: flex
	justify-content: center
	align-items: center
	width: 100%
	padding: 12px
	background: variables.$darkSage
	z-index: 100

a
	font-weight: 500
	color: variables.$spruce
	text-decoration: inherit

	&:hover
		color: variables.$spruce

h1
	font-size: 2rem

h2
	font-size: 1.7rem

h3
	font-size: 1.4rem

h4
	font-size: 1.2rem

h5
	font-size: 1.1rem

h6
	font-size: 1rem

.bold
	font-weight: variables.$mediumFontWeight


button
	border-radius: 4px
	border: 1px solid variables.$sage
	padding: 0.6em 1.2em
	font-size: 1em
	font-weight: 500
	font-family: inherit
	background-color: #1a1a1a
	cursor: pointer
	transition: border-color 0.25s

	&:hover
		border-color: variables.$spruce

	&:focus,
	&:focus-visible
		outline: 4px auto -webkit-focus-ring-color


@media (prefers-color-scheme: light)
	:root
		color: #213547
		background-color: #ffffff

	a:hover
		color: variables.$spruce

	button
		background: variables.$spruce
		//background: linear-gradient(135deg, $darkSage 0%, $darkSage 85%, $sage 85%, $darkSage 100%)
		color: #ffffff
